<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="HereCut_Cloud_App.Service1.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="HereCut_Cloud_App.UserManagement_Service">
        <endpoint address="" behaviorConfiguration="restfulBehavior" binding="webHttpBinding" bindingConfiguration="" contract="HereCut_Cloud_App.IUserManagement_Service" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/UserManagment_Service" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="HereCut_DatabaseEntities" connectionString="metadata=res://*/HereCut_Entity_Data_Model1.csdl|res://*/HereCut_Entity_Data_Model1.ssdl|res://*/HereCut_Entity_Data_Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\HereCut_Database.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HereCut_DatabaseEntities1" connectionString="metadata=res://*/HereCut_Entity_Data_Model2.csdl|res://*/HereCut_Entity_Data_Model2.ssdl|res://*/HereCut_Entity_Data_Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\HereCut_Database.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HereCut_DatabaseEntities2" connectionString="metadata=res://*/HereCut_Entity_Data_Model3.csdl|res://*/HereCut_Entity_Data_Model3.ssdl|res://*/HereCut_Entity_Data_Model3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\HereCut_Database.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HereCut_DatabaseEntities3" connectionString="metadata=res://*/HereCut_Entity_Data_Model4.csdl|res://*/HereCut_Entity_Data_Model4.ssdl|res://*/HereCut_Entity_Data_Model4.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\HereCut_Database.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HereCut_DatabaseEntities4" connectionString="metadata=res://*/HereCut_Entity_Data_Model5.csdl|res://*/HereCut_Entity_Data_Model5.ssdl|res://*/HereCut_Entity_Data_Model5.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\HereCut_Database.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HereCut_DatabaseEntities5" connectionString="metadata=res://*/HereCut_Entity_Data_Model6.csdl|res://*/HereCut_Entity_Data_Model6.ssdl|res://*/HereCut_Entity_Data_Model6.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\HereCut_Database.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HereCut_DatabaseEntities6" connectionString="metadata=res://*/HereCut_Entity_Data_Model7.csdl|res://*/HereCut_Entity_Data_Model7.ssdl|res://*/HereCut_Entity_Data_Model7.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\HereCut_Database.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HereCut_DatabaseEntities7" connectionString="metadata=res://*/HereCut_Entity_Data_Model7.csdl|res://*/HereCut_Entity_Data_Model7.ssdl|res://*/HereCut_Entity_Data_Model7.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\HereCut_Database.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HereCut_DatabaseEntities8" connectionString="metadata=res://*/HereCut_Entity_Data_Model7.csdl|res://*/HereCut_Entity_Data_Model7.ssdl|res://*/HereCut_Entity_Data_Model7.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\HereCut_Database.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>